SECRET_KEY=change-me-in-production
DEBUG=True
ENCRYPTION_KEY=generate-with-python
DATABASE_ENGINE=sqlite
DATABASE_NAME=db.sqlite3
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
ALLOWED_HOSTS=127.0.0.1,localhost,testserver,drop.freate.io.vn
